{% load static %}
<html>
    <head>
        <title>berliner-wg</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Quando&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/wg.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">berliner-wg</a></h1>
        </div>
<h2>Suchst du ein Zimmer in Berlin? <br/> Dann bist du bei uns richtig </h2>
        <div class="alle-anzeige">
        {% for anzeige in anzeiges %}
    <div class="anzeige">
        <h1><a href="">{{ anzeige.title }}</a></h1>
        {% if anzeige.image %}
        <img src="{{ anzeige.image.url }}" height="250"/>
        {% endif %}
        <p><strong>Zimmergröße:</strong> {{ anzeige.zimmergroesse }}qm</p>
        <p><strong>Warmmiete:</strong> {{ anzeige.warmmiete }} € pro Monat</p>
        <p><strong>Frei ab:</strong> {{ anzeige.frei_ab }}</p>
        <p style="display: none;">{{ anzeige.text|linebreaksbr }}</p>
        <p>published: {{ anzeige.published_date }}</p>
    </div>
{% endfor %}
            </div>
    </body>
</html>