<html>
    <head>
        <title>berliner-wg</title>
    </head>
    <body>
        <div>
            <h1><a href="/">berliner-wg</a></h1>
        </div>

{% for anzeige in anzeiges %}
    <div>
        <h1><a href="">{{ anzeige.title }}</a></h1>
        {% if anzeige.image %}
        <img src="{{ anzeige.image.url }}" width="300"/>
        {% endif %}
        <p>Zimmergröße: {{ anzeige.zimmergroesse }}qm</p>
        <p>Warmmiete: {{ anzeige.warmmiete }} € pro Monat</p>
        <p>Frei ab: {{ anzeige.frei_ab }}</p>
        <p>{{ anzeige.text|linebreaksbr }}</p>
        <p>published: {{ anzeige.published_date }}</p>
    </div>
{% endfor %}
    </body>
</html>