{% extends 'wg/base.html' %}

{% block content %}
    <div class="anzeige">
        <h1>{{ anzeige.title }}</h1>
        {% if anzeige.image %}
        <img src="{{ anzeige.image.url }}" height="250"/>
        {% endif %}
        <p><strong>Zimmergröße:</strong> {{ anzeige.zimmergroesse }}qm</p>
        <p><strong>Warmmiete:</strong> {{ anzeige.warmmiete }} € pro Monat</p>
        <p><strong>Frei ab:</strong> {{ anzeige.frei_ab }}</p>
        <p>{{ anzeige.text|linebreaksbr }}</p>
        <p>published: {{ anzeige.published_date }}</p>
    </div>
{% endblock %}