{% extends 'wg/base.html' %}

{% block content %}
    <div class="anzeige-detail">
    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'anzeige_edit' pk=anzeige.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" href="{% url 'anzeige_remove' pk=anzeige.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    {% endif %}
        <h1>{{ anzeige.title }}</h1>
        {% if anzeige.image %}
        <img src="{{ anzeige.image.url }}" height="250"/>
        {% endif %}
        <p><strong>Zimmergröße:</strong> {{ anzeige.zimmergroesse }}qm</p>
        <p><strong>Warmmiete:</strong> {{ anzeige.warmmiete }} € pro Monat</p>
        <p><strong>Frei ab:</strong> {{ anzeige.frei_ab }}</p>
        <p>{{ anzeige.text|linebreaksbr }}</p>
        <p>published: {{ anzeige.published_date }}</p>
    </div>
{% endblock %}